services:
  - type: web
    name: laravel-app
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    region: oregon
    healthCheckPath: /
    envVars:
      - key: APP_KEY
        generateValue: true
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: DB_CONNECTION
        value: mysql
      - key: DB_HOST
        value: mysql-xyz.clever-cloud.com   # <-- gikan sa Clever Cloud
      - key: DB_DATABASE
        value: cc_database_name             # <-- gikan sa Clever Cloud
      - key: DB_USERNAME
        value: cc_user_name                 # <-- gikan sa Clever Cloud
      - key: DB_PASSWORD
        value: cc_password                  # <-- gikan sa Clever Cloud
